.food-container {
  margin: 10rem auto;
  text-transform: uppercase;
  width: 100%;
}
.food-menu-container {
  width: 98%;
  margin: 2rem auto 2rem auto;
}
.food-menu-header {
  text-align: center;
  margin-top: 5rem;
  color: rgb(45, 45, 45);
}
.card {
  display: inline-block;
  width: 27rem;
  border-radius: 0.1rem 0.1rem;
  background-color: whitesmoke;
  height: 180px;
  margin: 1rem;
  transition-property: box-shadow, transform;
  transition-duration: 350ms;
  transition-timing-function: ease;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
  overflow: hidden;
}
.card-body {
  display: flex;
  flex-direction: column;
  float: right;
  height: 180px;
  width: 200px;
  padding: 2rem 1rem 1rem 1rem;
  bottom: auto;
  align-items: flex-start;
  justify-content: center;
  font-size: 0.9rem;
}
.food-count-container {
  display: flex;
  width: 6rem;
  justify-content: space-between;
  padding-left: 1rem;
  margin-top: 2.6rem;
  float: right;
}
.food-card-count-btn {
  cursor: pointer;
  border: 0.07rem solid #6c8fa7;
  border-radius: 100%;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #6c8fa7;
  transition: filter 250ms ease;
  background-color: #f2f2f2;
  width: 1.3rem;
  height: 1.3rem;
}
.food-card-btn {
  cursor: pointer;
  border: 0.07rem solid #6c8fa7;
  border-radius: 100%;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #6c8fa7;
  transition: filter 250ms ease;
  background-color: #f2f2f2;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.7rem;
}
.add-to-cart,
.food-card-remove-btn {
  margin-top: 2rem;
}
.food-card-btn:hover,
.food-card-btn a:hover,
.food-card-count-btn:hover {
  background-color: #6c8fa7;
  color: #f2f2f2;
  border: 0.1rem solid #6c8fa7;
}
.food-card-remove-btn:hover {
  background-color: rgb(253, 105, 105);
  border: 0.1rem solid rgb(253, 105, 105);
}
.food-card-btn:is(:hover, :focus) {
  filter: grayscale(0%) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}
@media only screen and (max-width: 430px) {
  .card {
    border-radius: 2rem;
    margin: 0.5rem auto;
  }
  .food-container {
    padding: 0rem;
    margin: 0 auto;
  }
  .food-menu-container {
    padding: 0.5rem;
    margin: -4rem auto;
  }
  .food-menu-header {
    visibility: hidden;
  }
  .card-img {
    max-width: 43%;
    height: 100%;
    object-fit: cover;
  }
}
