.card {
  display: inline-block;
  width: 27rem;
  border-radius: 0.1rem 0.1rem;
  background-color: whitesmoke;
  height: 180px;
  transition-property: box-shadow, transform;
  transition-duration: 350ms;
  transition-timing-function: ease;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
  overflow: hidden;
}
.card-section {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
}
.card-body {
  display: flex;
  flex-direction: column;
  float: right;
  height: 180px;
  width: 200px;
  padding: 2rem 1rem 1rem 1rem;
  bottom: auto;
  align-items: flex-start;
  justify-content: center;
  font-size: 0.9rem;
}
.food-card-btn-container {
  padding: 1rem;
}
.food-mobile-card-btn-container {
  display: flex;
  align-items: center;
  bottom: 1rem;
  position: absolute;
  height: fit-content;
  width: 50%;
  justify-content: space-between;
}
.food-count-container {
  display: flex;
  width: 6rem;
  justify-content: space-between;
  padding-left: 1rem;
  margin-top: 2.6rem;
  float: right;
}
.food-card-count-btn {
  cursor: pointer;
  border: 0.07rem solid #6c8fa7;
  border-radius: 100%;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #6c8fa7;
  transition: filter 250ms ease;
  background-color: #f2f2f2;
  width: 1.3rem;
  height: 1.3rem;
}
.food-card-stripe-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border: 0.07rem solid #6c8fa7;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 0.6rem;
  text-transform: uppercase;
  color: #f2f2f2;
  transition: filter 250ms ease;
  background-color: #6c8fa7;
  padding: 0.5rem;
  width: fit-content;
  height: fit-content;
}
.bi-stripe {
  color: #f2f2f2;
  margin-right: 0.3rem;
}
.food-card-mobile-btn {
  cursor: pointer;
  border: 0.07rem solid #6c8fa7;
  border-radius: 100%;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #6c8fa7;
  transition: filter 250ms ease;
  background-color: #f2f2f2;
  width: 2.5rem;
  height: 2.5rem;
}
.food-card-btn {
  cursor: pointer;
  border: 0.07rem solid #6c8fa7;
  border-radius: 100%;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #6c8fa7;
  transition: filter 250ms ease;
  background-color: #f2f2f2;
  width: 2.5rem;
  height: 2.5rem;
}
.add-to-cart,
.food-card-remove-btn {
  margin-top: 2rem;
}
.food-card-btn:hover,
.food-card-btn a:hover,
.food-card-count-btn:hover {
  background-color: #6c8fa7;
  color: #f2f2f2;
  border: 0.1rem solid #6c8fa7;
}
.food-card-remove-btn:hover {
  background-color: #fd6969;
  border: 0.1rem solid #fd6969;
}
.food-card-btn:is(:hover, :focus) {
  filter: grayscale(0%) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}
.food-card-mobile-btn:is(:hover, :focus) {
  filter: grayscale(0%) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}
.card-mobile {
  visibility: hidden;
}
.card-desktop {
  margin: 0 auto;
}

@media only screen and (max-width: 420px) {
  .card-mobile {
    visibility: visible;
  }
  .card-desktop {
    visibility: hidden;
  }
}
