.product-container {
  margin-top: 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.product {
  display: flex;
  width: 60%;
  margin: 5rem auto;
}
.product-title {
  width: 100%;
  margin-top: 2rem;
}

.img-product {
  width: 50%;
  height: 60%;
}
.product-price {
  margin-top: 1rem;
}

.product-btn-container {
  width: 20%;
  margin-top: 2rem;
}
.product-description {
  width: 70%;
  margin-top: 2rem;
}
