.kitchen-status-login {
  text-align: center;
  margin: 5rem auto;
  color: #727272;
}
.login-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0rem 1rem 5rem 1rem;
}
.login-header {
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
}
.login-container input {
  width: 15rem;
  border: 0.01rem solid #6c8fa7;
  border-radius: 0.4rem;
  background-color: #f2f2f2;
  padding: 0.9rem;
  margin-top: 0.5rem;
  color: #6c8fa7;
}
.login-container input::placeholder {
  color: #6c8fa7;
}
.login-btn {
  display: flex;
  justify-content: center;
  padding: 0.9rem 1.5rem;
  margin-top: 0.9rem;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
  color: #6c8fa7;
  text-transform: uppercase;
  border: 0.01rem solid #6c8fa7;
  font-weight: 600;
  font-size: 0.7rem;
  transition: filter 250ms ease;
  width: 10rem;
}
.login-container button:is(:hover, :focus) {
  filter: grayscale(0%) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}
.google-login-btn {
  border-top: 0.5px solid #6c8fa776;
  width: 100%;
  margin: 2rem auto;
  padding: 1rem;
}
.reg-nav-text {
  margin-top: 2rem;
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
}
.reg-nav-text a {
  color: #6c8fa7;
}
.reg-nav-text a:hover {
  text-decoration: underline;
}
.google-logout-btn {
  margin-top: 3rem;
}

@media only screen and (max-width: 900px) {
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    width: 100%;
    font-weight: 400;
    font-size: 0.7rem;
  }
  .login-container h3 {
    color: #6c8fa7;
    text-transform: uppercase;
  }
  .login-header {
    padding: 0;
  }
  .login-container input {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 0.01rem solid #6c8fa7;
    border-radius: 0.4rem;
    background-color: #f2f2f2;
    padding: 0.9rem;
    margin-top: 0.5rem;
    color: #6c8fa7;
  }
  .login-container input::placeholder {
    color: #6c8fa7;
  }
  .login-container button {
    width: 100%;
    border-radius: 0.3rem;
    background-color: #6c8fa7;
    color: #f2f2f2;
  }
  .google-login-btn {
    border-top: 0.5px solid #6c8fa776;
    width: 100%;
    margin: 3rem auto;
  }
}
