.kitchen-status-login {
  text-align: center;
  margin: 5rem auto;
  color: #727272;
}
.login-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0rem 1rem 5rem 1rem;
}
.login-header {
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
}
.login-container input {
  width: 15rem;
  border: 0.01rem solid #6c8fa7;
  border-radius: 2rem;
  background-color: #f2f2f2;
  padding: 0.9rem;
  margin-top: 0.7rem;
  color: #6c8fa7;
}
.login-container input::placeholder {
  color: #6c8fa7;
}
.login-btn-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.login-btn {
  display: flex;
  justify-content: center;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  background-color: #6c8fa7;
  color: #f2f2f2;
  text-transform: uppercase;
  border: none;
  font-weight: 600;
  font-size: 0.7rem;
  transition: filter 250ms ease;
  width: 99%;
}
.login-btn:hover {
  background-color: #f2f2f2;
  color: #6c8fa7;
}
.login-container button:is(:hover, :focus) {
  filter: grayscale(0%) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}
.google-login-btn {
  border-top: 0.5px solid #6c8fa776;
  width: 100%;
  margin: 2rem auto;
  padding: 1rem;
}
.reg-nav-text {
  margin-top: 2rem;
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
}
.reg-nav-text a {
  color: #6c8fa7;
}
.reg-nav-text a:hover {
  text-decoration: underline;
}
.google-logout-btn {
  margin-top: 3rem;
}

@media only screen and (max-width: 430px) {
  html {
    overflow-x: hidden;
    max-width: 420px;
    padding: 0;
    margin: 0;
  }
  .container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 420px;
    min-height: fit-content;
    margin: 0;
    padding: 0;
  }
  .login-container {
    margin: 0;
    padding: 0;
  }
  .login-container h3 {
    font-size: 1rem;
    color: #6c8fa7;
    text-transform: uppercase;
  }
  .login-container input::placeholder {
    color: #6c8fa7;
  }
  .google-login-btn {
    border-top: 0.5px solid #6c8fa776;
    width: 100%;
    margin: 3rem auto;
  }
}
