/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-max-type */
nav {
  position: sticky;
  top: 0px;
  width: 97%;
  margin: 0 auto;
  z-index: 5;
}
.progress {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
}
.navbar {
  display: flex;
  flex-direction: row;
  background-color: #6c8fa7e2;
  align-items: center;
  box-shadow: 0px 3px 10px rgb(130, 130, 130);
  height: 9rem;
}
.nav-links {
  display: flex;
  width: 50%;
  justify-content: left;
}
.nav-links a {
  font-size: 0.8rem;
  float: left;
  color: #f2f2f2;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  margin-left: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}
.nav-links a:hover {
  border-bottom: 0.03rem solid #f2f2f2;
}
.login-register {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  width: 60%;
  gap: 0.5rem;
}
.login-register p {
  display: flex;
  font-size: min(0.8vw, 14px);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.nav-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-icons {
  font-size: min(1.5vw, 20px);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: fit-content;
  color: #f2f2f2;
  width: 50%;
}
.nav-icons a {
  color: #f2f2f2;
  padding-left: 1.5rem;
  text-decoration: none;
}
.nav-icons a:hover {
  color: rgb(42, 42, 42);
}
.cart-count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #f2f2f2;
  color: #6c8fa7;
  border-radius: 100%;
  width: 1.2rem;
  height: 1.2rem;
  margin-left: -1.5rem;
}
.logotype-nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-family: "Comfortaa", cursive;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
  width: 10%;
}
.logotype-nav h5 {
  font-size: min(1.2vw, 18px);
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: max-content;
}
.logotype-nav p {
  font-size: min(1vw, 18px);
  text-align: center;
  display: flex;
  width: max-content;
  flex-direction: column;
}
.logotype {
  background-color: whitesmoke;
  padding: 0.5rem;
  margin-bottom: 0.3rem;
  border-radius: 5rem;
}
.nav-mobile {
  visibility: hidden;
}
.nav-tabs {
  width: 100%;
  border-bottom: none;
}
.tab-nav {
  padding: 1rem 3rem 0rem 3rem;
}
.account-menu {
  visibility: hidden;
}

@media only screen and (max-width: 1350px) {
  nav {
    background-color: #6c8fa7;
    position: sticky;
    top: 0;
    height: 6rem;
    color: #f2f2f2;
    width: 100%;
  }
  .navbar {
    visibility: hidden;
  }
  .nav-mobile {
    min-width: 100%;
    color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    visibility: visible;
    margin-top: -2rem;
  }
  .logotype-nav {
    display: flex;
    color: #f2f2f2;
    width: 30%;
  }
  .logotype {
    display: flex;
    background-color: whitesmoke;
    border-radius: 5rem;
    padding: 0.2rem;
    justify-content: center;
  }
  .header-icons-1 {
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #f2f2f2;
    width: 23%;
    height: 6rem;
  }
  .link-icon {
    color: #f2f2f2;
  }
  .account-menu {
    visibility: visible;
  }
}
