.container-logreg {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.register-container {
  margin: 5rem auto;
  width: max-content;
  height: fit-content;
  border-left: 0.1rem solid #6c8fa7;
  padding: 3rem 4rem 4rem 7rem;
}
.register-header {
  display: flex;
  font-weight: 700;
  padding-bottom: 1rem;
}
.login-reg {
  width: max-content;
  height: fit-content;
  padding: 3rem 5rem 0rem 10rem;
}
.register-input {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}
.input-1,
.input-2,
.input-3 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.5rem;
}
.input-4 {
  margin-top: 1.5rem;
}
.register-container input {
  width: 15rem;
  border: 0.01rem solid #6c8fa7;
  border-radius: 2rem;
  background-color: #f2f2f2;
  padding: 0.9rem;
  margin-top: 0.7rem;
  color: #6c8fa7;
  font-weight: 600;
}
.register-container input::placeholder {
  color: #6c8fa7;
}
.register-btn {
  display: flex;
  justify-content: center;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  background-color: #6c8fa7;
  color: #f2f2f2;
  text-transform: uppercase;
  border: none;
  font-weight: 600;
  font-size: 0.7rem;
  transition: filter 250ms ease;
  width: 10rem;
}
.register-btn:is(:hover, :focus) {
  filter: grayscale(0%) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}
.google-logout-btn {
  display: flex;
  justify-content: center;
  border-top: 0.5px solid #6c8fa776;
  width: 95%;
  margin: 2rem auto;
  padding: 2rem;
}

@media only screen and (max-width: 430px) {
  html {
    overflow-x: hidden;
    max-width: 430px;
    padding: 0;
    margin: 0;
  }
  .container-logreg {
    display: flex;
    height: fit-content;
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
  .register-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    border-left: none;
    padding: 0;
    width: 100%;
    margin-top: -38rem;
  }
  .register-header h3 {
    color: #6c8fa7;
  }
  .login-reg {
    display: flex;
    visibility: hidden;
  }
  .register-input {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .register-container input {
    width: 18rem;
    height: 3.5rem;
  }
  .register-input-field {
    margin: 0 auto;
  }
  .input-1,
  .input-2,
  .input-3 {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
  }
  .google-logout-btn {
    border-top: 0.5px solid #6c8fa776;
    width: 100%;
    margin: 3rem auto;
  }
}
