.shopping-cart-header {
  text-align: center;
  padding-bottom: 3rem;
  color: #6c8fa7;
  text-transform: uppercase;
}
.shopping-cart {
  background-color: #f2f2f2;
  padding: 3rem 3rem 3rem 3rem;
}
.shoppingcart-close-btn {
  visibility: hidden;
}
.cart-total {
  text-align: right;
  padding: 2rem 0rem 4rem 0rem;
}
.cart-total h2 {
  color: #6c8fa7;
}
.nav-icons {
  padding-right: 1rem;
  color: #f2f2f2;
}
.place-order-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}
.place-order-btn {
  display: flex;
  margin-top: 0.7rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #f2f2f2;
  transition: filter 250ms ease;
  background-color: #6c8fa7;
  width: 12rem;
  height: fit-content;
  padding: 0.7rem;
  align-items: center;
  justify-content: center;
}
.place-order-btn:hover {
  background-color: #569d52;
  color: #f2f2f2;
  border: none;
}
.place-order-btn:is(:hover, :focus) {
  filter: grayscale(0%) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}
.place-order-stripe-btn {
  display: flex;
  margin-top: 0.7rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #f2f2f2;
  transition: filter 250ms ease;
  background-color: #6c8fa7;
  width: 12rem;
  height: fit-content;
  padding: 0.7rem;
  justify-content: center;
}
.place-order-stripe-btn:hover {
  background-color: #569d52;
  color: #f2f2f2;
  border: none;
}
.place-order-stripe-btn a {
  display: flex;
  align-items: center;
  color: #f2f2f2;
  gap: 2;
}
.place-order-stripe-btn:is(:hover, :focus) {
  filter: grayscale(0%) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}
