/* stylelint-disable selector-max-compound-selectors */
/* stylelint-disable selector-max-combinators */
/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable selector-max-type */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: whitesmoke;
  width: 100%;
}
a {
  text-decoration: none;
  color: rgb(42, 42, 42);
}
h1,
h2 {
  font-weight: 900;
}
h3,
h4,
h5 {
  font-weight: 400;
}
.hero-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: left;
}
.hero-header {
  flex-direction: row;
  display: flex;
  justify-content: center;
}
.hero-greeting {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 1.5rem;
}
.hero-title h1 {
  color: #6c8fa7;
  text-align: left;
  font-size: 2.5rem;
}
.hero-img {
  display: flex;
  width: 35%;
  padding: 1.5rem;
}
.hero-paragraph {
  font-size: 1.1rem;
}
.hero-btns {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: 1rem;
}
.hero-btn-1,
.hero-btn-2 {
  cursor: pointer;
  padding: 1rem 1.2rem;
  border: 0.1rem solid #6c8fa7;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #6c8fa7;
  transition: filter 250ms ease;
  background-color: #f2f2f2;
  margin-top: 1rem;
}
.hero-btn-1:hover,
.hero-btn-2:hover,
.hero-btn a:hover {
  background-color: #6c8fa7;
  color: #f2f2f2;
}
.hero-btn-1:is(:hover, :focus),
.hero-btn-2:is(:hover, :focus) {
  filter: grayscale(0%) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}
.food-container-section {
  display: flex;
  margin-top: -42rem;
}

@media only screen and (max-width: 430px) {
  nav {
    max-width: 100%;
  }
  body {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }
  .food-container-section {
    visibility: collapse;
  }
  .food-mobile-section {
    display: flex;
    margin-top: 2rem;
  }
  .food-container-mobile {
    display: flex;
    align-content: center;
    width: fit-content;
  }
  .hero-img {
    visibility: collapse;
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    width: min-content;
    justify-content: center;
    max-height: 10rem;
    margin-left: 3rem;
  }
  .foodlist-container {
    margin-left: 2rem;
  }
  .food-list {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    margin-left: 2rem;
  }
  .hero-greeting {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5rem auto;
  }
  .hero-title h1 {
    display: flex;
    font-size: max(1.5rem, 15px);
    width: fit-content;
  }
  .hero-title h5 {
    font-size: max(1rem, 10px);
    text-align: center;
    width: fit-content;
  }
  .hero-btns {
    display: flex;
    flex-direction: row;
    margin-top: -4rem;
    gap: 1rem;
  }
  .hero-btn-1,
  .hero-btn-2 {
    cursor: pointer;
    padding: 0.8rem 1rem;
    border: 0.1rem solid #6c8fa7;
    border-radius: 2rem;
    font-weight: 700;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #6c8fa7;
    transition: filter 250ms ease;
    background-color: #f2f2f2;
    margin-top: 1rem;
  }
  footer,
  .hero-paragraph,
  .hero-img {
    visibility: collapse;
  }
  .footer-copy {
    visibility: collapse;
  }
}
